cuda_python
bettercam; platform_system == "Windows"
numpy
pywin32; platform_system == "Windows"
screeninfo
asyncio
onnxruntime
onnxruntime-gpu
pyserial
opencv-python
packaging
ultralytics
keyboard
mss
pynput
supervision
trackers
hid
pyusb
psutil
